<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Queststore</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/manager.css" rel="stylesheet">
    <link href="/static/css/admin-tables.css" rel="stylesheet">
    <link href="/static/css/profile-editor.css" rel="stylesheet">
    <link href="/static/css/window-modal-admin.css" rel="stylesheet">
    <script src="/static/js/sidenav.js"></script>
</head>
<body>


<div id="main">

    <div class="navi-menu">
        <header>
            <div id="title-bar">
                <div id="menu" onclick="openNav()">
                    <div class="menu-icon"></div>
                    <div class="menu-icon"></div>
                    <div class="menu-icon"></div>
                </div>
                <h1 id="title-text">Queststore</h1>
            </div>
            <div id="mySidenav" class="sidenav">
                <ul id="navi-list">
                    <li class="nav-element">
                        <a class="navi-button" onclick="displayWindow(); closeNav()">Show mentor profile</a>
                    </li>
                    <li class="nav-element">
                        <a class="navi-button" onclick="closeNav()">Promote blank user</a>
                    </li>
                    <li class="nav-element">
                        <a id="edit_mentor" onclick="displayEditWindow(); prepareTableForPickMentor(); displayMentors(); closeNav()">Edit mentor profile</a>
                    </li>
                    <li class="nav-element">
                        <a href="">Assign mentor-group</a>
                    </li>
                    <li class="nav-element">
                        <a href="admin/edit/{{ admin_id }}">Edit my profile</a>
                    </li>
                    <li class="nav-element">
                        <form method="post">
                            <input type="submit" name="logout" value="Logout">
                        </form>
                    </li>
                </ul>
            </div>
        </header>
    </div>


    <div class="container">

        <div id="window" class="window-modal">
            <div id="mentors-list-box">
                <p id="title-mentor-box">Choose mentor for display his profile</p>

                <ul id="mentors">
                    {% for mentor in mentors %}
                        <li id="mentor-data">
                            <div class="mentor-name">
                                <form method="POST"><input type="submit" name="mentor profile {{ mentor.getId() }}" value="{{ mentor.getName() }}" class="mentor-info" onclick=""></form>
                            </div>
                    {% endfor %}
                </ul>
                <span class="back-button">back</span>
            </div>
        </div>

        <div class="content-admin">

            <div id="column-tables">
                <div class="mentors table" onclick="mentor_table_center()">
                    <div id="mentors-table-name">Mentors Table</div>

                    <ul class="mentors-lists">
                        {% for element in mentors %}
                        <li> {{ element.getName() }}</li>
                        {% endfor %}
                    </ul>

                    <div id="profile-editor">
                        <div class="editor-table">
                            <form>

                                <div class="mentor-login">
                                    <div class="mentor-profile">Login</div>
                                    <label>
                                        <input type="text" class="mentor-editor">
                                    </label>
                                </div>

                                <div class="mentor-login">
                                    <div class="mentor-profile">Name</div>
                                    <label>
                                        <input type="text" class="mentor-editor">
                                    </label>
                                </div>

                                <div class="mentor-login">
                                    <div class="mentor-profile">Surname</div>
                                    <label>
                                        <input type="text" class="mentor-editor">
                                    </label>
                                </div>

                                <div class="mentor-login">
                                    <div class="mentor-profile">Email</div>
                                    <label>
                                        <input type="text" class="mentor-editor">
                                    </label>
                                </div>
                            </form>
                        </div>
                        <a href="../static/admin_manager.html" id="editor-back-button">BACK</a>
                    </div>
                </div>

                <div class="groups table" onclick="group_table_center()">
                    <div id="groups-table-name">Groups Table</div>
                    <ul class="groups-lists">
                        {% for element in groups %}
                        <li> {{ element.getGroupName() }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div id="row-table">
                <div class="assigned table">
                    <div id="assigned-table-name">Mentors assigned to groups</div>

                    <form method="POST" id="add-mentor-form" onsubmit="returnValidateInputs()">

                        <div>
                            <div class="input-labels">Name</div>
                            <input class="add-input" type="text" name="name" required>
                        </div>

                        <div>
                            <div class="input-labels">Last name</div>
                            <input class="add-input" type="text" name="last-name" required>
                        </div>

                        <div>
                            <div class="input-labels">Email</div>
                            <input class="add-input" type="text" name="email" required>
                        </div>

                        <div class="mentor-profile-button">
                            <input type="button" value="Cancel" class="mentor-profile-button" onclick="cancelAddingMentor()">
                            <input type="submit" value="Accept" class="mentor-profile-button">
                        </div>
                    </form>

                    <div id="edit-table">
                        <ul class="mentors-lists-edit">
                            {% for element in mentors %}
                                <li><a href="admin/edit/{{ element.getId() }}" class="mentor-name-button" onclose="editPage()"> {{ element.getName() }}</a></li>
                            {% endfor %}
                        </ul>

                    </div>
                    <span id="back-button-mentor-to-edit">back</span>
                </div>

            </div>

        </div>
    </div>

    <footer>
        <div id="bottom-bar">
            <p id="copyright">2018 Design & Implementation : Lukasz Pelczar, Nikodem Ciolczyk</p>
        </div>
    </footer>
</div>
<script type="text/javascript" src="../static/js/table_manager_admin.js"></script>
<script type="text/javascript" src="../static/js/add_mentor_manager.js"></script>
<script type="text/javascript" src="../static/js/edit_mentor_profile_by_admin.js"></script>
</body>
</html>