<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Queststore</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/manager.css" rel="stylesheet">
    <link href="/static/css/admin-tables.css" rel="stylesheet">
    <link href="/static/css/profile-editor.css" rel="stylesheet">
    <link href="/static/css/mentor-profile-admin.css" rel="stylesheet">
    <script src="/static/js/sidenav.js"></script>
</head>
<body onload="displayProfileTables()">
<div id="main">

    <div class="navi-menu">
        <header>
            <div id="title-bar">
                <div id="menu" onclick="openNav()">
                    <div class="menu-icon"></div>
                    <div class="menu-icon"></div>
                    <div class="menu-icon"></div>
                </div>
                <h1 id="title-text">Queststore</h1>
            </div>
            <div id="mySidenav" class="sidenav">
                <ul id="navi-list">
                    <li class="nav-element">
                        <form method="post">
                            <input type="submit" name="logout" value="Logout">
                        </form>
                    </li>
                    <li class="nav-element">
                        <form method="post">
                            <input type="submit" name="main-page" value="Back">
                        </form>
                    </li>
                </ul>
            </div>
        </header>
    </div>

    <div class="content-admin">

        <div id="column-tables">
            <div class="mentors table" onclick="mentor_table_center()">
                <div id="mentors-table-name">Mentor Profile</div>

                <div id="profile-table-content">
                    <div class="table-content"><div class="mentor-labels">ID: </div><div class="mentor-info">{{ id }}</div></div>
                    <div class="table-content"><div class="mentor-labels">Name: </div><div class="mentor-info">{{ name }}</div></div>
                    <div class="table-content"><div class="mentor-labels">Phone: </div><div class="mentor-info">{{ phone_number }}</div></div>
                    <div class="table-content"><div class="mentor-labels">Email: </div><div class="mentor-info">{{ email }}</div></div>
                </div>
            </div>

            <div class="groups table">
                <div id="groups-table-name">Groups</div>
                <ul class="groups-lists">
                    {% for key, value in test %}
                        <li id="group-name">
                            <div id="group-key">{{ key }}</div>
                            <ul>
                                {% for student in value %}
                                    <div id="student-value"><li id="student-name">{{ student.getName() }}</li></div>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>


        <footer>
        <div id="bottom-bar">
            <p id="copyright">2018 Design & Implementation : Lukasz Pelczar, Nikodem Ciolczyk</p>
        </div>
    </footer>
</div>
</div>
<script type="text/javascript" src="/static/js/table_manager_admin.js"></script>
<script type="text/javascript" src="/static/js/add_mentor_manager.js"></script>
<script type="text/javascript" src="/static/js/edit_mentor_profile_by_admin.js"></script>
</body>
</html>